{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ block.super }} | {{ post.title }}
{% endblock head_title %}
{% block content %}

    <div class="col-sm-6 col-sm-offset-3 pb-5">
    <h1>Confirm Delete</h1>


                <form action="." method="POST">{% csrf_token %}
                   <p>Are you sure you want to delete: "{{ object.content }}"?</p>
                    <input type="Submit" value="Confirm" class="btn btn-warning">
                    <a href="{{ object.get_absolute_url }}"  class="btn btn_default">Cancel</a>
                </form>
            </div>

        <hr>
.
    </div>
{% endblock content %}
